<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<script src="../jQuery/jquery-2.2.4.min.js"></script>
<link rel="stylesheet"
	href="../bootstrap-3.3.6-dist/css/bootstrap.min.css">
<link rel="stylesheet"
	href="../bootstrap-3.3.6-dist/css/bootstrap-theme.min.css">
<script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

<script src="../AngularJS/angular.min.js"></script>
<script src="../AngularJS/ui-bootstrap-tpls-1.3.3.min.js"></script>

<title>Projeto Encomendas</title>

</head>

<body ng-app="encomendasApp">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span><span class="icon-bar"></span>

				</button>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="../index.html">Home</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class=""><a href="agrupar.html">Agrupar</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class=""><a href="cadastroVeiculo.html">Cadastrar
							Veículo</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="active"><a href="cadastroEncomenda.html">Cadastrar
							Encomenda</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>

	<div class="container"
		ng-controller="CadastroOcorrenciaController as viewModel">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Cadastro de Ocorrência</h1>
			</div>
			<div class="panel-body">
				<form class="form-inline" novalidate name="viewModel.formCadastro">
					<div class="form-group"
						ng-class="{'has-error': viewModel.formCadastro.txtDescricao.$touched && viewModel.formCadastro.txtDescricao.$invalid}">
						<label for="txtDescricao" class="control-label">Descrição:</label>
						<input type="text" id="txtDescricao" name="txtDescricao"
							class="form-control" ng-model="viewModel.Ocorrencia.descricao"
							required />
					</div>
					<div class="form-group"
						ng-class="{'has-error': viewModel.formCadastro.txtDataHora.$touched && viewModel.formCadastro.txtDataHora.$invalid}">
						<label for="txtDataHora" class="control-label">Data:</label>
						<p class="input-group" style="margin-bottom: 0;">
							<input type="text" id="txtDataHora" name="txtDataHora"
								class="form-control" uib-datepicker-popup="dd/MM/yyyy"
								ng-model="viewModel.Ocorrencia.dataHora"
								is-open="viewModel.dataAberta" ng-required="true"
								close-text="Fechar" current-text="Hoje" clear-text="Limpar"
								readonly required /> <span class="input-group-btn" />
							<button type="button" class="btn btn-default"
								ng-click="viewModel.abrirData()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							</span>
						</p>
					</div>
					<div class="form-group"
						ng-class="{'has-error': viewModel.formCadastro.txtTipo.$touched && viewModel.formCadastro.txtTipo.$invalid}">
						<label for="txtTipo" class="control-label">Tipo:</label> <select
							id="txtTipo" name="txtTipo" class="form-control"
							ng-model="viewModel.Ocorrencia.tipoOcorrencia" required>
							<option value=""></option>
							<option value="observacao">Observação</option>
							<option value="atraso">Atraso</option>
							<option value="pedidoUsuario">Pedido do usuario</option>
							<option value="pedidoTransportadora">Pedido da
								transportadora</option>
						</select>
					</div>
					<button class="btn btn-warning" ng-click="viewModel.Limpar()">Limpar</button>
					<button class="btn btn-success" ng-click="viewModel.Cadastrar()"
						ng-disabled="viewModel.formCadastro.$invalid">Cadastrar</button>
					<button class="btn btn-info" ng-click="viewModel.voltar()">Voltar</button>
				</form>
				<hr></hr>
				<h3>{{viewModel.descricao}}</h3>
				<table class="table table-hover table-stripped table-condensed">
					<thead>
						<tr>
							<td><h4>Descrição</h4></td>
							<td><h4>Data</h4></td>
							<td><h4>Tipo</h4></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ocorrencia in viewModel.ocorrencias"
							ng-class="{'success': ocorrencia.tipoOcorrencia == 'viagem', 'info': ocorrencia.tipoOcorrencia != 'viagem'}">
							<td>{{ocorrencia.descricao}}</td>
							<td>{{ocorrencia.dataHora | date: 'dd/MM/yyyy' }}</td>
							<td>{{ocorrencia.tipoOcorrencia}}</td>
							<td><button type="button" class="btn btn-danger"
									ng-click="viewModel.Excluir(ocorrencia.id)"
									ng-hide="ocorrencia.tipoOcorrencia == 'viagem'">Excluir</button>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="../js/app.js"></script>
	<script src="../js/Controllers/CadastroOcorrenciaController.js"></script>
</body>
</html>
